In [45]:
from neo4j.v1 import GraphDatabase
import pandas as pd

In [61]:
driver = GraphDatabase.driver("bolt://127.0.0.1:7687",auth=basic_auth("neo4j", "boula1994"))
session = driver.session()

df = pd.read_csv("A.csv")
df.head()

,Unnamed: 0,ANTA Sports Products Ltd,Al Hammadi Development and Investment Co,Al Rajhi Bank,AngloGold Ashanti Ltd,Banco do Brasil SA,Bank Al-Jazira,Bank of China Ltd,China Literature Ltd,China Mengniu Dairy Co Ltd,...,TCS Group Holding PLC,Turk Telekomunikasyon AS,TurkDEX ISE 30 Futures,Turkcell Iletisim Hizmetleri AS,Turkiye Sise ve Cam Fabrikalari AS,UNITED STATES GOVERNMENT,Union National Bank PJSC,Wuliangye Yibin Co Ltd,Yanbu National Petrochemical Co,Yandex NV
0,ANTA Sports Products Ltd,0.00,1.00,1.00,0.75,1.00,1.00,1.00,1.00,1.00,...,0.75,1.00,0.50,1.00,1.00,0.75,1.00,1.00,1.00,0.75
1,Al Hammadi Development and Investment Co,1.00,0.00,1.00,0.75,1.00,1.00,1.00,1.00,1.00,...,0.75,1.00,0.50,1.00,1.00,0.75,1.00,1.00,1.00,0.75
2,Al Rajhi Bank,1.00,1.00,0.00,0.75,1.00,1.00,1.00,1.00,1.00,...,0.75,1.00,0.50,1.00,1.00,0.75,1.00,1.00,1.00,0.75
3,AngloGold Ashanti Ltd,0.75,0.75,0.75,0.00,0.75,0.75,0.75,0.75,0.75,...,0.50,0.75,0.25,0.75,0.75,1.00,0.75,0.75,0.75,1.00
4,Banco do Brasil SA,1.00,1.00,1.00,0.75,0.00,1.00,1.00,1.00,1.00,...,0.75,1.00,0.50,1.00,1.00,0.75,1.00,1.00,1.00,0.75

In [67]:
df.iloc[3][0]

'AngloGold Ashanti Ltd'

In [72]:
x = len(df.index)

# def add_person(self, name):
#     with self._driver.session() as session:
#         session.run("CREATE (a:Person {name: $name})", name=name)

for c in df["Unnamed: 0"]:
     session.run("create (:" + c.replace(" ","").replace("-","").replace("&","") + ")")

for i in range(x):
    for j in range(x):
          if(df.iloc[i][j+1]  != 0 ):
                session.run("MATCH (a),(b) WHERE a = '" + df.iloc[i][0] + "' AND b = '" + df.iloc[j][0] 
                            + "' CREATE (a)-[r:RELTYPE]->(b) RETURN r")

In [73]:
result = session.run("MATCH (a),(b) WHERE a = '" + df.iloc[i][0] + "' AND b = '" + df.iloc[j][0] 
                            + "' CREATE (a)-[r:RELTYPE]->(b) RETURN r")

In [74]:
print(result)

<neo4j.v1.result.BoltStatementResult object at 0x10e9150f0>

In [ ]:
result.summary()

In [ ]:
print(result.summary())